                                                Assignment 23

Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

In [71]:
def is_symmetrical(n):
    l1 =[]
    l2=[]
    while n!=0:
        l1.append(n%10)
        n = n//10
    l2 = l1
    if l1 == l2[::-1]:
        return True
    else:
        return False

In [73]:
print(is_symmetrical(7227))

True

In [74]:
print(is_symmetrical(12567))

False

In [75]:
print(is_symmetrical(44444444))

True

In [76]:
print(is_symmetrical(9939))

False

In [77]:
print(is_symmetrical(1112111))

True

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.

In [64]:
def multiply_nums(s):
    ans = s.split(", ")
    prod = 1
    for i in ans:
        prod = prod * int(i)
    return prod

In [66]:
print(multiply_nums("2, 3"))

6

In [67]:
print(multiply_nums("1, 2, 3, 4"))

24

In [68]:
print(multiply_nums("54, 75, 453, 0"))

0

In [70]:
print(multiply_nums("10, -2"))

-20

Question 3
Create a function that squares every digit of a number.

In [55]:
def square_digits(n):
    ans = []
    while n!=0:
        ans.append((n%10)**2)
        n = n//10
    ans = ans[::-1]
    res = [str(i) for i in ans]
    res1 = int("".join(res))
    return res1

In [56]:
print(square_digits(9119))

811181

In [57]:
print(square_digits(2483))

416649

In [58]:
print(square_digits(3212))

9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.

In [28]:
def setify(l):
    t =list(set(l))
    ans = t.sort()
    return t

In [30]:
print(setify([1,3,3,5,5]))

[1, 3, 5]

In [31]:
print(setify([4,4,4,4]))

[4]

In [32]:
print(setify([5,7,8,9,10,15]))

[5, 7, 8, 9, 10, 15]

In [33]:
print(setify([3,3,3,2,1]))

[1, 2, 3]

Question 5
Create a function that returns the mean of all digits.

In [13]:
def mean(n):
    sumi = 0
    count = 0
    while n!=0:
        sumi = sumi + (n%10)
        n = n//10
        count = count+1
        
    return int(sumi/count)

In [15]:
print(mean(42))

3

In [16]:
print(mean(12345))

3

In [17]:
print(mean(666))

6